<section class="view" id="home_view" ng-controller="homeControl">
    <div class="content">
        <a href="#actu" ng-click="menu.dir='actu'">
            <div class="button_carre_ext">
                <div class="button_carre fa fa-th-list">
                  <p class="button_carre_text">Actualités</p>
                </div>
            </div>
        </a>
        <a href="#result" ng-click="menu.dir='result'">
            <div class="button_carre_ext">
                <div class="button_carre fa fa-trophy">
                  <p class="button_carre_text">Resultats</p>
                </div>
            </div>
        </a>
        <a href="#class" ng-click="menu.dir='class'">
            <div class="button_carre_ext">
                <div class="button_carre fa fa-list">
                  <p class="button_carre_text">Classements</p>
                </div>
            </div>  
        </a>
        <a href="#setting" ng-click="menu.dir='setting'">
            <div class="button_carre_ext">
                <div class="button_carre fa fa-cog">
                  <p class="button_carre_text">Reglages</p>
                </div>
            </div>  
        </a>
        <a href="#admin" ng-click="menu.dir='admin'">
            <div class="button_rectangle_ext">
                <div class="button_rectangle fa fa-user">
                  <p class="button_rectangle_text">Connexion</p>
                </div>
            </div>  
        </a>

    </div>
</section>


