@font-face {
    font-family: 'caviar';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


*, *::before, *::after {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
}

html,.app {
    margin: 0;
    position: relative;
    height: calc(100% - 10px);
    background: #CECECE;
    font-family: 'caviar';
}


html .app a {
    text-decoration: none;
    color: #2F363B;
}

/*-------------------- animation du loader ------------------------*/

.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: #000000;
    opacity: 0.7;
    z-index: 1000;
}
.load{
  position: absolute;
  top: 38%;
  left: 31%;
  font-size: 160px;
  color:#ffffff;
}
.ng-hide {
  display:none !important;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    line-height: 50px;
    color: #f6f6f6;
    text-transform: capitalize;
    text-align: center;
    background: #2F363B;
    padding-top: 20px;
    font-size: 2em;
    letter-spacing: 2px;
    z-index: 9999;
}

.header .header_text {
    display: block;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


.first-container {
    position: relative;
    overflow-x: hidden; 
    height: 100%;
    margin-top: 20px;
}

.pusher-container {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.pusher-container.open, .header_text.open {
    -webkit-transform: translate(80%, 0);
    transform: translate(80%, 0);
}

/* -------------------------- MENU --------------------------------------*/
#button-menu {
    position: absolute;
    right:-50px;
    top: 0;
    width: 40px;
    height: 50px;
}

#button-menu span {
    display: block;
    width: 20px;
    height: 3px;
    background: #f6f6f6;
    position: absolute;
    left: 10px;
    webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#button-menu .top {
    top: 16px;
}

#button-menu .middle {
    top: 22px;
}

#button-menu .bottom {
    top: 28px;
}

#button-menu.open span.top {
    -webkit-animation: inTop 0.8s forwards;
    -moz-animation: inTop 0.8s forwards;
    animation: inTop 0.8s forwards;
}

#button-menu.closed span.top {
    -webkit-animation: outTop 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outTop 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outTop 0.8s backwards;
    animation-direction: reverse;
}

#button-menu.open span.middle {
    -webkit-animation: inMiddle 0.8s forwards;
    -moz-animation: inMiddle 0.8s forwards;
    animation: inMiddle 0.8s forwards;
}

#button-menu.closed span.middle {
    -webkit-animation: outMiddle 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outMiddle 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outMiddle 0.8s backwards;
    animation-direction: reverse;
}

#button-menu.open span.bottom {
    -webkit-animation: inBottom 0.8s forwards;
    -moz-animation: inBottom 0.8s forwards;
    animation: inBottom 0.8s forwards;
}

#button-menu.closed span.bottom {
    -webkit-animation: outBottom 0.8s backwards;
    -webkit-animation-direction: reverse;
    -moz-animation: outBottom 0.8s backwards;
    -moz-animation-direction: reverse;
    animation: outBottom 0.8s backwards;
    animation-direction: reverse;
}

/*-------------------------- Animation du bouton de menu ----------------------------------*/

@-webkit-keyframes inTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes inTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -moz-transform: rotate(135deg);
    }
}

@keyframes inTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@-webkit-keyframes outTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -webkit-transform: rotate(135deg);
    }
}

@-moz-keyframes outTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -moz-transform: rotate(135deg);
    }
}

@keyframes outTop {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@-webkit-keyframes inMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@-moz-keyframes inMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@keyframes inMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@-webkit-keyframes outMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@-moz-keyframes outMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}

@keyframes outMiddle {
    0% {
        top: 16px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(135deg);
    }
}


@-webkit-keyframes inBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes inBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -moz-transform: rotate(45deg);
    }
}

@keyframes inBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        -webkit-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes outBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        -moz-transform: rotate(0deg);
    }
    100% {
        top: 22px;
        -moz-transform: rotate(45deg);
    }
}

@keyframes outBottom {
    0% {
        top: 28px;
    }
    50% {
        top: 22px;
        transform: rotate(0deg);
    }
    100% {
        top: 22px;
        transform: rotate(45deg);
    }
}

.nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 80%;
    height: 100%;
    background: #2F363B;
    color: #f6f6f6;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.nav-menu.open {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    border-right: 1px solid #cecece;

}

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul li {
    border-bottom: 1px solid #4E4D4D;
}

.nav-menu ul li a{
    display: block;
    font-size: 1em;
    padding: 0.8em;
    outline: none;
    color: #f6f6f6;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-menu ul li a:before{
    padding-right: 1em;
}

.nav-menu ul li a.current{
    background: #1B1B1B;
}

.nav-menu .menu-logo {
    padding: 1em 0;  
    text-align: center;
}

.nav-menu .menu-logo img {
    width: 4em;
}


.main-view {
    min-height: 100%;
    overflow: scroll;
    position: relative;
    background-color: #f6f6f6;
    margin:0;

}
.view {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f6f6f6;
    margin-top: 70px;

}

#home_view>.content{
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

.button_carre_ext {
    padding: 2px;
    width: 50%;
    float: left;
}

.button_rectangle_ext {
    padding: 2px;
    width: 100%;
    float: left;
}

.button_carre {
    width: 100%;
    background: #2F363B;
    height: 100%;
    text-align: center;
    padding: 1em 0;
    resize: none;
}

.button_rectangle {
    width: 100%;
    float: left;
    background: #2F363B;
    height: 50%;
    margin: 0em;
    text-align: center;
    padding: 1em 0;
    resize: none;
}

.button_filter {
    width: 100%;
    float: left;
    background: #2F363B;
    height: 50%;
    margin: 0em;
    text-align: center;
    padding:  0;
    resize: none;
    border: 1px solid #2F363B;
    color: #f6f6f6;

}

.button_carre:before, .button_rectangle:before {
    color: #f6f6f6;
    font-size: 2em;
}

.button_carre_text, .button_rectangle_text {
    padding-top: 0.75em;
    letter-spacing: 1px;
    color: #f6f6f6;

}

.button_filter.comp_act {
    background: #f6f6f6;
}

.button_filter.comp_act .button_carre_text {
    color: #2F363B;

}



/* ------------------------- actu ------------------------------------- */

.blog-media {
    padding: 0 !important;
}

.blog-media img{
    width:100%;
    height: auto;
}

.blog-item-container {
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;

}

.date_block {
    padding: 6px 3px;
    border-bottom: 1px solid #2f363b;
    font-size: 0.8em;
}

.date_block .left {
    text-align: left;
    float: left;
}

.date_block .right {
    text-align: right;
    float: right;
}

.blog-top {
    font-weight: 600;
    font-size: 1em;
    width: 100%;
    text-align: left;
    padding: 5px 0;
}

.blog-top .blog-title {
    color: #2f363b;
}

.close-one {
    text-align: right;
    font-size: 1.7em;
    padding-right: 0.2em;
}

.blog-content {
    padding-top: 2em;
}



/*------------------------- result ------------------------------*/

.match_line {
    margin-top: 10px;
}


.match_line a {
    background: #fff;
    padding: 0;
}

.match_line .wpcm-date {
    text-align: center;
    height: auto;
    padding: 10px 0;
    background: #e8e8e8;
    /* border-bottom: 1px solid #2f363b; */
}

.match_line .wpcm-date-date,  .opponent, .result{
    color: #2f363b;
    text-decoration: none;
    outline: 0;
}

.match_line .opponent {
    padding-top: 35px;
    text-align: center;
}

.opponent.home {
    padding-right: 10px;
}

.opponent.away {
    padding-left: 10px;
}

.match_line .result {
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}

.match_line .result_color {
    height: 15px;
}

.result_color.lose {
    background: #E48484;
    padding: 0;
}

.opponent .attachment-crest-small, .opponent .wpclubmanager-crest-placeholder {
    position: absolute;
    top: 5px;
    left: 30%;
    width: 25px;
}


/*------------------- Admin -------------------------------*/
#admin_view input, #admin_view label {
    display: block;
}
#admin_view form {
    text-align: center;
    margin-top: 10%;
}
#admin_view p {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 80%;
    margin: 1.3em auto;
}

#admin_view input {
    border:none;
    background: none;
    padding: 0.4em;
    width: 100%;
    position: relative;
    float: right;
}

#admin_view label {
    position: absolute;
    width: 100%;
    float: right;
    pointer-events: none
}

#admin_view .label_text {
    width: 100%;
    display: block;
    padding: 0.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

#admin_view label:before, #admin_view label:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background: #2F363B;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

#admin_view label:before {
    top: 0;
}

 #admin_view label:after {
    bottom: 0;
}

#admin_view .submit {
    width: 50%;
    float: none;
    margin: auto;
    background: #2f363b;
    color: #f6f6f6;
    border-radius: 0;
    margin-top: 20px;
}

#admin_view input:focus + label .label_text,
#admin_view label.no_empty .label_text {
    -webkit-transform: translate(0, -90%);
    transform: translate(0, -90%);
}

#admin_view input:focus + label:before,
#admin_view label.no_empty:before {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

#admin_view input:focus +  label:after,
#admin_view label.no_empty:after {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

/*------------------------ Classements -----------------------------------*/

#class_view article {
    margin: 1em 0;
}

.widget-title, .wpcm-view-link {
    display: none;
}

.wpcm-sc-title {
    margin: auto;
    width: 80%;
    text-align: center;
}

.wpcm {
    background: #fff;
    width: 100%;
    padding: 1em;
    margin: auto;
}

.wpcm table{
    width: 100%;
}

.odd {
    background: #EBEBEB;
}

.even {
    background: #BCBCBC;
}

.highlighted {
    background: #2F363B;
    color: #f6f6f6;
}




/*---------------------- loader style IOS -------------------------- */

.spinner {
  font-size: 48px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
      -ms-transform-origin: center -0.2222em;
          transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
          animation: spinner-fade 1s infinite linear;
}
.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
          animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
          animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
          animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
          animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
          animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
          animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
          animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
          animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
          animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}
